{
  "openapi": "3.0.3",
  "info": {
    "title": "Farming",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.pitik.dev/v1"
    },
    {
      "url": "https://api.pitik.id/v1"
    }
  ],
  "paths": {
    "/alerts/summary/{farmingCycleId}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Get Alert Summary",
        "description": "Get Alert Summary",
        "operationId": "getAlertSummary",
        "parameters": [
          {
            "name": "$page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          },
          {
            "name": "$order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "date"
            }
          },
          {
            "name": "x-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Alert Summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "number",
                      "example": 10
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "XtOFdE9opoV90YGLCaNkU0D86svEj1Kr"
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2021-12-28 00:00:09"
                          },
                          "title": {
                            "type": "string",
                            "example": "Kelembaban udara tidak baik"
                          }
                        }
                      },
                      "example": [
                        {
                          "id": "XtOFdE9opoV90YGLCaNkU0D86svEj1Kr",
                          "timestamp": "2021-12-28 00:00:09",
                          "title": "Kelembaban udara tidak baik"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Get Alert Summary": {
                    "value": {
                      "count": 10,
                      "data": [
                        {
                          "id": "XtOFdE9opoV90YGLCaNkU0D86svEj1Kr",
                          "timestamp": "2021-12-28 00:00:09",
                          "title": "Kelembaban udara tidak baik"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "farmingCycleId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "{{fc_id}}"
          }
        }
      ]
    },
    "/alerts/{id}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Get Alert Detail",
        "description": "Get Alert Detail",
        "operationId": "getAlertDetail",
        "parameters": [
          {
            "name": "x-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Alert Detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "addToTask": {
                          "type": "boolean",
                          "example": true
                        },
                        "description": {
                          "type": "string",
                          "example": "<p>Ada indikasi kelembaban udara lebih tinggi atau rendah dari batas wajar</p>"
                        },
                        "id": {
                          "type": "string",
                          "example": "XtOFdE9opoV90YGLCaNkU0D86svEj1Kr"
                        },
                        "tasks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "FJ86z13bYqU35Qyae0hrBe39t7yPSJQU"
                              },
                              "instruction": {
                                "type": "string",
                                "example": "Kontak PPL untuk kontrol kondisi udara"
                              }
                            }
                          },
                          "example": [
                            {
                              "id": "FJ86z13bYqU35Qyae0hrBe39t7yPSJQU",
                              "instruction": "Kontak PPL untuk kontrol kondisi udara"
                            }
                          ]
                        },
                        "timestamp": {
                          "type": "string",
                          "example": "2021-12-28 00:00:09"
                        },
                        "title": {
                          "type": "string",
                          "example": "Kelembaban udara tidak baik"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Get Alert Detail": {
                    "value": {
                      "data": {
                        "addToTask": true,
                        "description": "<p>Ada indikasi kelembaban udara lebih tinggi atau rendah dari batas wajar</p>",
                        "id": "XtOFdE9opoV90YGLCaNkU0D86svEj1Kr",
                        "tasks": [
                          {
                            "id": "FJ86z13bYqU35Qyae0hrBe39t7yPSJQU",
                            "instruction": "Kontak PPL untuk kontrol kondisi udara"
                          }
                        ],
                        "timestamp": "2021-12-28 00:00:09",
                        "title": "Kelembaban udara tidak baik"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "b6FssfIStYCQCjqytReQ1WTj3UvvjDhN"
          }
        }
      ]
    },
    "/alerts/{farmingCycleId}": {
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Create Task From Alert",
        "description": "Create Task From Alert",
        "operationId": "createTaskFromAlert",
        "parameters": [
          {
            "name": "x-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addToTask": {
                    "type": "boolean",
                    "example": true
                  },
                  "description": {
                    "type": "string",
                    "example": "<p>Tingkat kematian ayam melebihi tahap wajar</p>"
                  },
                  "id": {
                    "type": "string",
                    "example": "0XemJNxT1RfFDtD1DzToadAp5XWmfU6v"
                  },
                  "tasks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "glD2L7WINei1Fil43ZySlOedBrqjjpI8"
                        },
                        "instruction": {
                          "type": "string",
                          "example": "Seleksi dan isolasi ayam sakit"
                        }
                      }
                    },
                    "example": [
                      {
                        "id": "glD2L7WINei1Fil43ZySlOedBrqjjpI8",
                        "instruction": "Seleksi dan isolasi ayam sakit"
                      },
                      {
                        "id": "vuz7EYCTnBzzySKVeqVutTKt487SPH2r",
                        "instruction": "Kontak PPL untuk diskusi alasan kematian"
                      },
                      {
                        "id": "ulubCMHpRFSvVu19y0K8UUKP1H46POSu",
                        "instruction": "Periksa ayam dengan dokter hewan"
                      },
                      {
                        "id": "Y2Cb3lqyQUfPspYo6BhbBYwLsvnBk7qg",
                        "instruction": "Review program antibiotik dengan PPL, mitra manager, atau dokter hewan"
                      }
                    ]
                  },
                  "timestamp": {
                    "type": "string",
                    "example": "2022-03-25T17:00:06.000Z"
                  },
                  "title": {
                    "type": "string",
                    "example": "Mortalitas tinggi"
                  }
                }
              },
              "example": {
                "addToTask": true,
                "description": "<p>Tingkat kematian ayam melebihi tahap wajar</p>",
                "id": "0XemJNxT1RfFDtD1DzToadAp5XWmfU6v",
                "tasks": [
                  {
                    "id": "glD2L7WINei1Fil43ZySlOedBrqjjpI8",
                    "instruction": "Seleksi dan isolasi ayam sakit"
                  },
                  {
                    "id": "vuz7EYCTnBzzySKVeqVutTKt487SPH2r",
                    "instruction": "Kontak PPL untuk diskusi alasan kematian"
                  },
                  {
                    "id": "ulubCMHpRFSvVu19y0K8UUKP1H46POSu",
                    "instruction": "Periksa ayam dengan dokter hewan"
                  },
                  {
                    "id": "Y2Cb3lqyQUfPspYo6BhbBYwLsvnBk7qg",
                    "instruction": "Review program antibiotik dengan PPL, mitra manager, atau dokter hewan"
                  }
                ],
                "timestamp": "2022-03-25T17:00:06.000Z",
                "title": "Mortalitas tinggi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create Task From Alert",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tasks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "FJ86z13bYqU35Qyae0hrBe39t7yPSJQU"
                              }
                            }
                          },
                          "example": [
                            {
                              "id": "FJ86z13bYqU35Qyae0hrBe39t7yPSJQU"
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Create Task From Alert": {
                    "value": {
                      "data": {
                        "tasks": [
                          {
                            "id": "FJ86z13bYqU35Qyae0hrBe39t7yPSJQU"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "farmingCycleId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "{{fc-id}}"
          }
        }
      ]
    },
    "/chick-types": {
      "get": {
        "tags": [
          "Chick Type"
        ],
        "summary": "List",
        "description": "List",
        "operationId": "list",
        "parameters": [
          {
            "name": "$page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          },
          {
            "name": "chickTypeCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chickTypeName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string",
                  "example": "default-src 'self';base-uri 'self';block-all-mixed-content;font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                }
              },
              "Cross-Origin-Embedder-Policy": {
                "schema": {
                  "type": "string",
                  "example": "require-corp"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 21 Jul 2022 07:16:20 GMT"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string",
                  "example": "?1"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "no-referrer"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; includeSubDomains"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string",
                  "example": "off"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "1291"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "count": {
                      "type": "number",
                      "example": 5
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chickTypeCode": {
                            "type": "string",
                            "example": "CS-501"
                          },
                          "chickTypeName": {
                            "type": "string",
                            "example": "Silver"
                          },
                          "createdBy": {
                            "type": "string",
                            "example": "Vania"
                          },
                          "createdDate": {
                            "type": "string",
                            "example": "2021-11-04T06:19:28.000Z"
                          },
                          "id": {
                            "type": "string",
                            "example": "t6s5dJ9BAjmSlfHzSdykWuWXwc6d4Fkg"
                          },
                          "modifiedBy": {
                            "type": "string",
                            "example": "Vania"
                          },
                          "modifiedDate": {
                            "type": "string",
                            "example": "2021-11-09T06:50:07.000Z"
                          },
                          "remarks": {
                            "type": "string",
                            "example": ""
                          },
                          "seqNo": {
                            "type": "number",
                            "example": 9
                          },
                          "status": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "example": [
                        {
                          "chickTypeCode": "CS-501",
                          "chickTypeName": "Silver",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:19:28.000Z",
                          "id": "t6s5dJ9BAjmSlfHzSdykWuWXwc6d4Fkg",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:50:07.000Z",
                          "remarks": "",
                          "seqNo": 9,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS401",
                          "chickTypeName": "Platinum",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:19:02.000Z",
                          "id": "fA5mujDoV9e8dAGQLBPe6QIahXbiDufu",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:54.000Z",
                          "remarks": "",
                          "seqNo": 8,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS-301",
                          "chickTypeName": "Gold",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:18:42.000Z",
                          "id": "t0tF9TizqOrRjocnckpYyeZU90mPcbGo",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:43.000Z",
                          "remarks": "",
                          "seqNo": 7,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS-101",
                          "chickTypeName": "Cobb",
                          "createdBy": "Vania",
                          "createdDate": "2021-09-28T07:39:07.000Z",
                          "id": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:31.000Z",
                          "remarks": "",
                          "seqNo": 2,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS-201",
                          "chickTypeName": "Ross",
                          "createdBy": "Vania",
                          "createdDate": "2021-09-28T07:39:07.000Z",
                          "id": "oNnXvF2nD4ye7lbTOPzg8SXWriInBWja",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:19.000Z",
                          "remarks": "",
                          "seqNo": 1,
                          "status": true
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "code": 200,
                      "count": 5,
                      "data": [
                        {
                          "chickTypeCode": "CS-501",
                          "chickTypeName": "Silver",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:19:28.000Z",
                          "id": "t6s5dJ9BAjmSlfHzSdykWuWXwc6d4Fkg",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:50:07.000Z",
                          "remarks": "",
                          "seqNo": 9,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS401",
                          "chickTypeName": "Platinum",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:19:02.000Z",
                          "id": "fA5mujDoV9e8dAGQLBPe6QIahXbiDufu",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:54.000Z",
                          "remarks": "",
                          "seqNo": 8,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS-301",
                          "chickTypeName": "Gold",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:18:42.000Z",
                          "id": "t0tF9TizqOrRjocnckpYyeZU90mPcbGo",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:43.000Z",
                          "remarks": "",
                          "seqNo": 7,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS-101",
                          "chickTypeName": "Cobb",
                          "createdBy": "Vania",
                          "createdDate": "2021-09-28T07:39:07.000Z",
                          "id": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:31.000Z",
                          "remarks": "",
                          "seqNo": 2,
                          "status": true
                        },
                        {
                          "chickTypeCode": "CS-201",
                          "chickTypeName": "Ross",
                          "createdBy": "Vania",
                          "createdDate": "2021-09-28T07:39:07.000Z",
                          "id": "oNnXvF2nD4ye7lbTOPzg8SXWriInBWja",
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-09T06:49:19.000Z",
                          "remarks": "",
                          "seqNo": 1,
                          "status": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chick-types/{chickTypeId}": {
      "get": {
        "tags": [
          "Chick Type"
        ],
        "summary": "Detail",
        "description": "Detail",
        "operationId": "detail",
        "parameters": [
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{x-id}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string",
                  "example": "default-src 'self';base-uri 'self';block-all-mixed-content;font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                }
              },
              "Cross-Origin-Embedder-Policy": {
                "schema": {
                  "type": "string",
                  "example": "require-corp"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 21 Jul 2022 07:19:25 GMT"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string",
                  "example": "?1"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "no-referrer"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; includeSubDomains"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string",
                  "example": "off"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "273"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "chickTypeCode": {
                          "type": "string",
                          "example": "CS401"
                        },
                        "chickTypeName": {
                          "type": "string",
                          "example": "Platinum"
                        },
                        "createdBy": {
                          "type": "string",
                          "example": "Vania"
                        },
                        "createdDate": {
                          "type": "string",
                          "example": "2021-11-04T06:19:02.000Z"
                        },
                        "id": {
                          "type": "string",
                          "example": "fA5mujDoV9e8dAGQLBPe6QIahXbiDufu"
                        },
                        "modifiedBy": {
                          "type": "string",
                          "example": "Vania"
                        },
                        "modifiedDate": {
                          "type": "string",
                          "example": "2021-11-09T06:49:54.000Z"
                        },
                        "remarks": {
                          "type": "string",
                          "example": ""
                        },
                        "seqNo": {
                          "type": "number",
                          "example": 8
                        },
                        "status": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "code": 200,
                      "data": {
                        "chickTypeCode": "CS401",
                        "chickTypeName": "Platinum",
                        "createdBy": "Vania",
                        "createdDate": "2021-11-04T06:19:02.000Z",
                        "id": "fA5mujDoV9e8dAGQLBPe6QIahXbiDufu",
                        "modifiedBy": "Vania",
                        "modifiedDate": "2021-11-09T06:49:54.000Z",
                        "remarks": "",
                        "seqNo": 8,
                        "status": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Chick Type"
        ],
        "summary": "Update Chick Type",
        "description": "Update Chick Type",
        "operationId": "updateChickType",
        "parameters": [
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{x-id}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chickTypeCode": {
                    "type": "string",
                    "example": "TES-002"
                  },
                  "chickTypeName": {
                    "type": "string",
                    "example": "Tes API updated"
                  },
                  "id": {
                    "type": "string",
                    "example": "24fbd7e2eca25e7ae169ce16fd74f8dc"
                  },
                  "remarks": {
                    "type": "string",
                    "example": ""
                  },
                  "status": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "example": {
                "chickTypeCode": "TES-002",
                "chickTypeName": "Tes API updated",
                "id": "24fbd7e2eca25e7ae169ce16fd74f8dc",
                "remarks": "",
                "status": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string",
                  "example": "default-src 'self';base-uri 'self';block-all-mixed-content;font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                }
              },
              "Cross-Origin-Embedder-Policy": {
                "schema": {
                  "type": "string",
                  "example": "require-corp"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 21 Jul 2022 07:31:49 GMT"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string",
                  "example": "?1"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "no-referrer"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; includeSubDomains"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string",
                  "example": "off"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "337"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "chickTypeCode": {
                          "type": "string",
                          "example": "TES-002"
                        },
                        "chickTypeName": {
                          "type": "string",
                          "example": "Tes API updated"
                        },
                        "createdBy": {
                          "type": "string",
                          "example": "gGzvIguaPAtUiIswBiTD7hCloEQkOWUC"
                        },
                        "createdDate": {
                          "type": "string",
                          "example": "2022-07-21T07:29:39.000Z"
                        },
                        "id": {
                          "type": "string",
                          "example": "24fbd7e2eca25e7ae169ce16fd74f8dc"
                        },
                        "modifiedBy": {
                          "type": "string",
                          "example": "gGzvIguaPAtUiIswBiTD7hCloEQkOWUC"
                        },
                        "modifiedDate": {
                          "type": "string",
                          "example": "2022-07-21T07:31:50.000Z"
                        },
                        "remarks": {
                          "type": "string",
                          "example": ""
                        },
                        "seqNo": {
                          "type": "number",
                          "example": 11
                        },
                        "status": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "code": 200,
                      "data": {
                        "chickTypeCode": "TES-002",
                        "chickTypeName": "Tes API updated",
                        "createdBy": "gGzvIguaPAtUiIswBiTD7hCloEQkOWUC",
                        "createdDate": "2022-07-21T07:29:39.000Z",
                        "id": "24fbd7e2eca25e7ae169ce16fd74f8dc",
                        "modifiedBy": "gGzvIguaPAtUiIswBiTD7hCloEQkOWUC",
                        "modifiedDate": "2022-07-21T07:31:50.000Z",
                        "remarks": "",
                        "seqNo": 11,
                        "status": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "chickTypeId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "24fbd7e2eca25e7ae169ce16fd74f8dc"
          }
        }
      ]
    },
    "/chick-in-requests/{chickInReqId}": {
      "get": {
        "tags": [
          "Chick-In Request"
        ],
        "summary": "Detail Chick-in Request",
        "description": "response will be based on user command chaining\n\nbut command chaining is not defined yet",
        "operationId": "detailChickInRequest",
        "parameters": [
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail Chick-in Request",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string",
                  "example": "default-src 'self';base-uri 'self';block-all-mixed-content;font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                }
              },
              "Cross-Origin-Embedder-Policy": {
                "schema": {
                  "type": "string",
                  "example": "require-corp"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 08 Sep 2022 07:01:52 GMT"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string",
                  "example": "?1"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "no-referrer"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; includeSubDomains"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string",
                  "example": "off"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "899"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "chickInDate": {
                          "type": "string",
                          "example": "2022-09-09"
                        },
                        "coopId": {
                          "type": "string",
                          "example": "4faba9115ac2ca046751d3f6b31296c9"
                        },
                        "doc": {
                          "type": "object",
                          "properties": {
                            "categoryCode": {
                              "type": "string",
                              "example": "DOC"
                            },
                            "categoryName": {
                              "type": "string",
                              "example": "DOC"
                            },
                            "id": {
                              "type": "string",
                              "example": "812041f755f4ea9f15a297de8acfc315"
                            },
                            "productCode": {
                              "type": "string",
                              "example": "DOC-001"
                            },
                            "productName": {
                              "type": "string",
                              "example": "DOC CP Jaya Farm (SP)"
                            },
                            "purchaseUom": {
                              "type": "string",
                              "example": "Ekor"
                            },
                            "quantity": {
                              "type": "number",
                              "example": 10000
                            },
                            "subcategoryCode": {
                              "type": "string",
                              "example": ""
                            },
                            "subcategoryName": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        },
                        "id": {
                          "type": "string",
                          "example": "042b46a0afa611e9b11a73264b462639"
                        },
                        "initialPopulation": {
                          "type": "number",
                          "example": 10000
                        },
                        "ovk": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categoryCode": {
                                "type": "string",
                                "example": "OVK"
                              },
                              "categoryName": {
                                "type": "string",
                                "example": "OVK"
                              },
                              "id": {
                                "type": "string",
                                "example": "49f3b4078bc891001a184f922c6f4f86"
                              },
                              "productCode": {
                                "type": "string",
                                "example": "BR-2A88"
                              },
                              "productName": {
                                "type": "string",
                                "example": "OVK-018 - CUSTOVAC D @ 250 Gr "
                              },
                              "purchaseUom": {
                                "type": "string",
                                "example": "Pcs"
                              },
                              "quantity": {
                                "type": "number",
                                "example": 50
                              },
                              "subcategoryCode": {
                                "type": "string",
                                "example": ""
                              },
                              "subcategoryName": {
                                "type": "string",
                                "example": ""
                              }
                            }
                          },
                          "example": [
                            {
                              "categoryCode": "OVK",
                              "categoryName": "OVK",
                              "id": "49f3b4078bc891001a184f922c6f4f86",
                              "productCode": "BR-2A88",
                              "productName": "OVK-018 - CUSTOVAC D @ 250 Gr ",
                              "purchaseUom": "Pcs",
                              "quantity": 50,
                              "subcategoryCode": "",
                              "subcategoryName": ""
                            }
                          ]
                        },
                        "pakan": {
                          "type": "object",
                          "properties": {
                            "categoryCode": {
                              "type": "string",
                              "example": "PAKAN"
                            },
                            "categoryName": {
                              "type": "string",
                              "example": "PAKAN"
                            },
                            "id": {
                              "type": "string",
                              "example": "364af809516d9c9ea00ab74d6bab0f34"
                            },
                            "productCode": {
                              "type": "string",
                              "example": "FEED-001"
                            },
                            "productName": {
                              "type": "string",
                              "example": "FEED SB 8108 Pre Starter @ 50Kg/Bag"
                            },
                            "purchaseUom": {
                              "type": "string",
                              "example": "Sack"
                            },
                            "quantity": {
                              "type": "number",
                              "example": 50
                            },
                            "subcategoryCode": {
                              "type": "string",
                              "example": "PRESTARTER"
                            },
                            "subcategoryName": {
                              "type": "string",
                              "example": "PRESTARTER"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Detail Chick-in Request": {
                    "value": {
                      "code": 200,
                      "data": {
                        "chickInDate": "2022-09-09",
                        "coopId": "4faba9115ac2ca046751d3f6b31296c9",
                        "doc": {
                          "categoryCode": "DOC",
                          "categoryName": "DOC",
                          "id": "812041f755f4ea9f15a297de8acfc315",
                          "productCode": "DOC-001",
                          "productName": "DOC CP Jaya Farm (SP)",
                          "purchaseUom": "Ekor",
                          "quantity": 10000,
                          "subcategoryCode": "",
                          "subcategoryName": ""
                        },
                        "id": "042b46a0afa611e9b11a73264b462639",
                        "initialPopulation": 10000,
                        "ovk": [
                          {
                            "categoryCode": "OVK",
                            "categoryName": "OVK",
                            "id": "49f3b4078bc891001a184f922c6f4f86",
                            "productCode": "BR-2A88",
                            "productName": "OVK-018 - CUSTOVAC D @ 250 Gr ",
                            "purchaseUom": "Pcs",
                            "quantity": 50,
                            "subcategoryCode": "",
                            "subcategoryName": ""
                          }
                        ],
                        "pakan": {
                          "categoryCode": "PAKAN",
                          "categoryName": "PAKAN",
                          "id": "364af809516d9c9ea00ab74d6bab0f34",
                          "productCode": "FEED-001",
                          "productName": "FEED SB 8108 Pre Starter @ 50Kg/Bag",
                          "purchaseUom": "Sack",
                          "quantity": 50,
                          "subcategoryCode": "PRESTARTER",
                          "subcategoryName": "PRESTARTER"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Chick-In Request"
        ],
        "summary": "Update Chick-in Request",
        "description": "Update Chick-in Request",
        "operationId": "updateChickInRequest",
        "parameters": [
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chickInDate": {
                    "type": "string",
                    "example": "2022-09-09"
                  }
                }
              },
              "example": {
                "chickInDate": "2022-09-09"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "chickInReqId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "042b46a0afa611e9b11a73264b462639"
          }
        }
      ]
    },
    "/chick-in-requests/{chickInReqId}/approve": {
      "patch": {
        "tags": [
          "Chick-In Request"
        ],
        "summary": "Approve Chick-In Request",
        "description": "Approve Chick-In Request",
        "operationId": "approveChickInRequest",
        "parameters": [
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chickInDate": {
                    "type": "string",
                    "example": "2022-08-16"
                  }
                }
              },
              "example": {
                "chickInDate": "2022-08-16"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "chickInReqId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "8dd86dd1045f7aa04386c74a85a55396"
          }
        }
      ]
    },
    "/chick-in-request/{chickInReqId}/reject": {
      "patch": {
        "tags": [
          "Chick-In Request"
        ],
        "summary": "Reject Chick-In Request",
        "description": "Reject Chick-In Request",
        "operationId": "rejectChickInRequest",
        "parameters": [
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "chickInReqId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cities": {
      "get": {
        "tags": [
          "City"
        ],
        "summary": "LIST",
        "description": "LIST",
        "operationId": "list1",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "ta"
            }
          },
          {
            "name": "provinceId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/coop": {
      "get": {
        "tags": [
          "Coop"
        ],
        "summary": "LIST",
        "description": "LIST",
        "operationId": "list2",
        "parameters": [
          {
            "name": "ownerId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "farmName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Eannovate"
            }
          },
          {
            "name": "farmId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "coopName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Pristine III Coop"
            }
          },
          {
            "name": "coopTypeId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "$page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "$limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          },
          {
            "name": "X-ID",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{user_id}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string",
                  "example": "default-src 'self';base-uri 'self';block-all-mixed-content;font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                }
              },
              "Cross-Origin-Embedder-Policy": {
                "schema": {
                  "type": "string",
                  "example": "require-corp"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string",
                  "example": "same-origin"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Jul 2022 03:07:49 GMT"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=0"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string",
                  "example": "?1"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string",
                  "example": "no-referrer"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=15552000; includeSubDomains"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string",
                  "example": "off"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string",
                  "example": "noopen"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string",
                  "example": "SAMEORIGIN"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string",
                  "example": "none"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "string",
                  "example": "0"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "string",
                  "example": "12287"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 200
                    },
                    "count": {
                      "type": "number",
                      "example": 61
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capacityFan": {
                            "type": "number",
                            "example": 12.2
                          },
                          "chickType": {
                            "type": "object",
                            "properties": {
                              "chickTypeCode": {
                                "type": "string",
                                "example": "CS-101"
                              },
                              "chickTypeName": {
                                "type": "string",
                                "example": "Cobb"
                              },
                              "id": {
                                "type": "string",
                                "example": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7"
                              }
                            }
                          },
                          "chickTypeId": {
                            "type": "string",
                            "example": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7"
                          },
                          "coopCode": {
                            "type": "string",
                            "example": "KC-1004"
                          },
                          "coopImages": {
                            "type": "array",
                            "items": {},
                            "example": []
                          },
                          "coopName": {
                            "type": "string",
                            "example": "Muriono Farm"
                          },
                          "coopType": {
                            "type": "object",
                            "properties": {
                              "coopTypeCode": {
                                "type": "string",
                                "example": "C"
                              },
                              "coopTypeName": {
                                "type": "string",
                                "example": "Closed House"
                              },
                              "id": {
                                "type": "string",
                                "example": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc"
                              }
                            }
                          },
                          "coopTypeId": {
                            "type": "string",
                            "example": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc"
                          },
                          "createdBy": {
                            "type": "string",
                            "example": "Vania"
                          },
                          "createdDate": {
                            "type": "string",
                            "example": "2021-11-04T06:35:42.000Z"
                          },
                          "farm": {
                            "type": "object",
                            "properties": {
                              "farmCode": {
                                "type": "string",
                                "example": "FA-BLT-1004"
                              },
                              "farmName": {
                                "type": "string",
                                "example": "Muriono Farm"
                              },
                              "id": {
                                "type": "string",
                                "example": "7qbsw6aU5twtm3pDlzzFcCRCMICTOtxJ"
                              },
                              "owner": {
                                "type": "object",
                                "properties": {
                                  "fullName": {
                                    "type": "string",
                                    "example": "Muriono"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "obLeZxBfOBqDrumOoeORIh7XMIwRTSSG"
                                  },
                                  "userCode": {
                                    "type": "string",
                                    "example": "OWN-1004"
                                  }
                                }
                              },
                              "userOwnerId": {
                                "type": "string",
                                "example": "obLeZxBfOBqDrumOoeORIh7XMIwRTSSG"
                              }
                            }
                          },
                          "farmId": {
                            "type": "string",
                            "example": "7qbsw6aU5twtm3pDlzzFcCRCMICTOtxJ"
                          },
                          "height": {
                            "type": "number",
                            "example": 48
                          },
                          "id": {
                            "type": "string",
                            "example": "47UM1nYFt5RWIdz6kVve8VyvCcbuKFzy"
                          },
                          "leader": {
                            "type": "object",
                            "properties": {
                              "fullName": {
                                "type": "string",
                                "example": "Euvillia Hannah Sadikin"
                              },
                              "id": {
                                "type": "string",
                                "example": "hdbbPFKhKDIxH9UrUVPR4GfvKF9eEx3R"
                              },
                              "userCode": {
                                "type": "string",
                                "example": "OWN-1004/KK-1004"
                              }
                            }
                          },
                          "length": {
                            "type": "number",
                            "example": 8
                          },
                          "maxCapacity": {
                            "type": "number",
                            "example": 6000
                          },
                          "modifiedBy": {
                            "type": "string",
                            "example": "Vania"
                          },
                          "modifiedDate": {
                            "type": "string",
                            "example": "2021-11-10T09:54:19.000Z"
                          },
                          "numFan": {
                            "type": "number",
                            "example": 4
                          },
                          "otherControllerType": {
                            "type": "string",
                            "example": ""
                          },
                          "otherHeaterType": {
                            "type": "string",
                            "example": ""
                          },
                          "otherInletType": {
                            "type": "string",
                            "example": ""
                          },
                          "remarks": {
                            "type": "string",
                            "example": ""
                          },
                          "status": {
                            "type": "boolean",
                            "example": true
                          },
                          "width": {
                            "type": "number",
                            "example": 1.8
                          },
                          "workers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fullName": {
                                  "type": "string",
                                  "example": "Ropan"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "B4Oe0mhQQ6k3LGJ5gxn2mWEQgfI5zmoa"
                                },
                                "userCode": {
                                  "type": "string",
                                  "example": "OWN-1004/AK-1004"
                                }
                              }
                            },
                            "example": [
                              {
                                "fullName": "Ropan",
                                "id": "B4Oe0mhQQ6k3LGJ5gxn2mWEQgfI5zmoa",
                                "userCode": "OWN-1004/AK-1004"
                              }
                            ]
                          }
                        }
                      },
                      "example": [
                        {
                          "capacityFan": 12.2,
                          "chickType": {
                            "chickTypeCode": "CS-101",
                            "chickTypeName": "Cobb",
                            "id": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7"
                          },
                          "chickTypeId": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7",
                          "coopCode": "KC-1004",
                          "coopImages": [],
                          "coopName": "Muriono Farm",
                          "coopType": {
                            "coopTypeCode": "C",
                            "coopTypeName": "Closed House",
                            "id": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:35:42.000Z",
                          "farm": {
                            "farmCode": "FA-BLT-1004",
                            "farmName": "Muriono Farm",
                            "id": "7qbsw6aU5twtm3pDlzzFcCRCMICTOtxJ",
                            "owner": {
                              "fullName": "Muriono",
                              "id": "obLeZxBfOBqDrumOoeORIh7XMIwRTSSG",
                              "userCode": "OWN-1004"
                            },
                            "userOwnerId": "obLeZxBfOBqDrumOoeORIh7XMIwRTSSG"
                          },
                          "farmId": "7qbsw6aU5twtm3pDlzzFcCRCMICTOtxJ",
                          "height": 48,
                          "id": "47UM1nYFt5RWIdz6kVve8VyvCcbuKFzy",
                          "leader": {
                            "fullName": "Euvillia Hannah Sadikin",
                            "id": "hdbbPFKhKDIxH9UrUVPR4GfvKF9eEx3R",
                            "userCode": "OWN-1004/KK-1004"
                          },
                          "length": 8,
                          "maxCapacity": 6000,
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-10T09:54:19.000Z",
                          "numFan": 4,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "",
                          "status": true,
                          "width": 1.8,
                          "workers": [
                            {
                              "fullName": "Ropan",
                              "id": "B4Oe0mhQQ6k3LGJ5gxn2mWEQgfI5zmoa",
                              "userCode": "OWN-1004/AK-1004"
                            }
                          ]
                        },
                        {
                          "capacityFan": 12.2,
                          "chickType": {
                            "chickTypeCode": "CS-101",
                            "chickTypeName": "Cobb",
                            "id": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7"
                          },
                          "chickTypeId": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7",
                          "coopCode": "KC-1003",
                          "coopImages": [],
                          "coopName": "Endris Farm",
                          "coopType": {
                            "coopTypeCode": "C",
                            "coopTypeName": "Closed House",
                            "id": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-04T06:33:28.000Z",
                          "farm": {
                            "farmCode": "FA-BLT-1003",
                            "farmName": "Endris Farm",
                            "id": "x67BkUrPMG7QQf59kClYp7r1RNzMnRsW",
                            "owner": {
                              "fullName": "Endris Nofianto",
                              "id": "nKSQyk5BAtnj7944rNKqgY7BfDbeQHHj",
                              "userCode": "OWN-1003"
                            },
                            "userOwnerId": "nKSQyk5BAtnj7944rNKqgY7BfDbeQHHj"
                          },
                          "farmId": "x67BkUrPMG7QQf59kClYp7r1RNzMnRsW",
                          "height": 75,
                          "id": "HHIH4F273kCqWGZFMLTavBpG54LqUO9P",
                          "leader": {
                            "fullName": "Fanny Virya Akni",
                            "id": "TRt9vFgHHrHv0SGDYuhlyKDi8Gvs04Qj",
                            "userCode": "OWN-1003/KK-1003"
                          },
                          "length": 10,
                          "maxCapacity": 14000,
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-10T08:55:33.000Z",
                          "numFan": 5,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "",
                          "status": true,
                          "width": 1.8,
                          "workers": [
                            {
                              "fullName": "Subandri",
                              "id": "blbYQYFRKWEiteJVFovZPE91Eic1wPfz",
                              "userCode": "OWN-1003/AK-1003"
                            },
                            {
                              "fullName": "Subandri",
                              "id": "blbYQYFRKWEiteJVFovZPE91Eic1wPfz",
                              "userCode": "OWN-1003/AK-1003"
                            }
                          ]
                        },
                        {
                          "capacityFan": 5,
                          "chickType": {
                            "chickTypeCode": "CS-301",
                            "chickTypeName": "Gold",
                            "id": "t0tF9TizqOrRjocnckpYyeZU90mPcbGo"
                          },
                          "chickTypeId": "t0tF9TizqOrRjocnckpYyeZU90mPcbGo",
                          "coopCode": "CP2",
                          "coopImages": [],
                          "coopName": "Agus Farm",
                          "coopType": {
                            "coopTypeCode": "O",
                            "coopTypeName": "Open House",
                            "id": "0E45nD9S3gDl7kkyMOl8eQfHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8eQfHXkt6JRSc",
                          "createdBy": "Admin Eannovate",
                          "createdDate": "2021-11-04T06:25:03.000Z",
                          "farm": {
                            "farmCode": "FA-BLT-1002",
                            "farmName": "Agus Farm",
                            "id": "Q6t7bhJpPb0Iuo6wrjanMCXl8kggkqIo",
                            "owner": {
                              "fullName": "Agus Suherman",
                              "id": "vts4cruM53u9TnMkrVeMrYzVwOTtGgG1",
                              "userCode": "OWN-1002"
                            },
                            "userOwnerId": "vts4cruM53u9TnMkrVeMrYzVwOTtGgG1"
                          },
                          "farmId": "Q6t7bhJpPb0Iuo6wrjanMCXl8kggkqIo",
                          "height": 25,
                          "id": "zbgQ4bGuLFqkFCOcFU13Tm4OuZkNlRn5",
                          "leader": {
                            "fullName": "Euvillia Hannah Sadikin",
                            "id": "5vlNITXihGeAzDJjQlfabHJmfnIKipiN",
                            "userCode": "OWN-1002/KK-1002"
                          },
                          "length": 10,
                          "maxCapacity": 2500,
                          "modifiedBy": "Admin Eannovate",
                          "modifiedDate": "2021-11-04T06:45:18.000Z",
                          "numFan": 4,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "",
                          "status": true,
                          "width": 2,
                          "workers": [
                            {
                              "fullName": "Agus Suherman",
                              "id": "kenSPjPxy7AZ2tv9Zpz82SbqD6wKa0K6",
                              "userCode": "OWN-1002/AK-1002"
                            }
                          ]
                        },
                        {
                          "capacityFan": 14.1,
                          "chickType": {
                            "chickTypeCode": "CS401",
                            "chickTypeName": "Platinum",
                            "id": "fA5mujDoV9e8dAGQLBPe6QIahXbiDufu"
                          },
                          "chickTypeId": "fA5mujDoV9e8dAGQLBPe6QIahXbiDufu",
                          "coopCode": "CP1",
                          "coopImages": [],
                          "coopName": "Ukka Farm",
                          "coopType": {
                            "coopTypeCode": "C",
                            "coopTypeName": "Closed House",
                            "id": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc",
                          "createdBy": "Admin Eannovate",
                          "createdDate": "2021-11-04T06:20:47.000Z",
                          "farm": {
                            "farmCode": "FA-BLT-1001",
                            "farmName": "Ukka Farm",
                            "id": "o5FcfTacW7tCahYUMiHzwhqxGHAo1rre",
                            "owner": {
                              "fullName": "Ukka Davian",
                              "id": "nT53BSoVMBP8hq1N5LST5nopoM6qVTjD",
                              "userCode": "OWN-1001"
                            },
                            "userOwnerId": "nT53BSoVMBP8hq1N5LST5nopoM6qVTjD"
                          },
                          "farmId": "o5FcfTacW7tCahYUMiHzwhqxGHAo1rre",
                          "height": 42,
                          "id": "eqizltS9ORenjxIReL96EgERKGDADQRz",
                          "leader": {
                            "fullName": "Fanny Virya Akni",
                            "id": "zTTM0IygVF8NQvDoM25ThiDXChKQr32P",
                            "userCode": "OWN-1001/KK-1001"
                          },
                          "length": 8,
                          "maxCapacity": 10000,
                          "modifiedBy": "Admin Eannovate",
                          "modifiedDate": "2021-11-04T06:46:37.000Z",
                          "numFan": 4,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "",
                          "status": true,
                          "width": 2,
                          "workers": [
                            {
                              "fullName": "Yoga",
                              "id": "1OwvzOXSMbBF7oePbsQR4HuuIX4eoztG",
                              "userCode": "OWN-1001/AK-1001"
                            }
                          ]
                        },
                        {
                          "capacityFan": 1000,
                          "chickType": {
                            "chickTypeCode": "CS-201",
                            "chickTypeName": "Ross",
                            "id": "oNnXvF2nD4ye7lbTOPzg8SXWriInBWja"
                          },
                          "chickTypeId": "oNnXvF2nD4ye7lbTOPzg8SXWriInBWja",
                          "coopCode": "Coop5",
                          "coopImages": [],
                          "coopName": "Kandang 5",
                          "coopType": {
                            "coopTypeCode": "C",
                            "coopTypeName": "Closed House",
                            "id": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8eefHXkt6JRSc",
                          "createdBy": "Admin Eannovate",
                          "createdDate": "2021-11-04T01:59:58.000Z",
                          "farm": {
                            "farmCode": "OWN1FARM1",
                            "farmName": "Farm Trial",
                            "id": "iZLAiiunowFNMQldCoDEUSovfhth279N",
                            "owner": {
                              "fullName": "OWN Trial",
                              "id": "AK0qXoBn49sX8eGLycRqmbEh33Rww8rX",
                              "userCode": "OWN1"
                            },
                            "userOwnerId": "AK0qXoBn49sX8eGLycRqmbEh33Rww8rX"
                          },
                          "farmId": "iZLAiiunowFNMQldCoDEUSovfhth279N",
                          "height": 2,
                          "id": "XF0STS4Rd1mC7c79vsVxJbpLMoP2UzOC",
                          "leader": {
                            "fullName": "Sara",
                            "id": "9QBi095NeCPggh7koNpd4wCXiSzd80DQ",
                            "userCode": "OWN1PL1"
                          },
                          "length": 6,
                          "maxCapacity": 4000,
                          "modifiedBy": "Admin Eannovate",
                          "modifiedDate": "2021-11-04T01:59:58.000Z",
                          "numFan": 5,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "Test",
                          "status": true,
                          "width": 6,
                          "workers": [
                            {
                              "fullName": "Jimmy",
                              "id": "NN9AasbSj4ClPY3G71c4RYE2LOFQmB0x",
                              "userCode": "OWN1PW1"
                            }
                          ]
                        },
                        {
                          "capacityFan": 0,
                          "chickType": {
                            "chickTypeCode": "CS-101",
                            "chickTypeName": "Cobb",
                            "id": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7"
                          },
                          "chickTypeId": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7",
                          "coopCode": "K.SUCIPTO2",
                          "coopImages": [],
                          "coopName": "Kandang Sucipto Baru",
                          "coopType": {
                            "coopTypeCode": "S",
                            "coopTypeName": "Semi House",
                            "id": "0E45nD9S3gDl7kkyMOl8edfHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8edfHXkt6JRSc",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-01T00:48:03.000Z",
                          "farm": {
                            "farmCode": "SUC002",
                            "farmName": "Sucipto 2",
                            "id": "2OLQWiSO59a6D6bkq7c3K0WdxpCPUIVO",
                            "owner": {
                              "fullName": "Sucipto",
                              "id": "GKidkHRslDitj0UyV9IOh6m0lmd3BoiF",
                              "userCode": "developer@eannovate.com"
                            },
                            "userOwnerId": "GKidkHRslDitj0UyV9IOh6m0lmd3BoiF"
                          },
                          "farmId": "2OLQWiSO59a6D6bkq7c3K0WdxpCPUIVO",
                          "height": 0,
                          "id": "Y31XG1wMNifV6VplkqhNxwqwYZIVqvEs",
                          "leader": {
                            "fullName": "Budi",
                            "id": "DJw8HGHlAQMQj6rxEe230h9XQOkxgQqF",
                            "userCode": "KK_SUC_01"
                          },
                          "length": 0,
                          "maxCapacity": 0,
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-01T00:48:03.000Z",
                          "numFan": 0,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "",
                          "status": true,
                          "width": 0,
                          "workers": [
                            {
                              "fullName": "Dodo",
                              "id": "uM9ZNI1VKiMf2NmJdsNU73IqVq9NDZfm",
                              "userCode": "AK_SUC_001"
                            }
                          ]
                        },
                        {
                          "capacityFan": 0,
                          "chickType": {
                            "chickTypeCode": "CS-101",
                            "chickTypeName": "Cobb",
                            "id": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7"
                          },
                          "chickTypeId": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7",
                          "coopCode": "K.IIS2",
                          "coopImages": [],
                          "coopName": "Kandang Iis Baru",
                          "coopType": {
                            "coopTypeCode": "O",
                            "coopTypeName": "Open House",
                            "id": "0E45nD9S3gDl7kkyMOl8eQfHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8eQfHXkt6JRSc",
                          "createdBy": "Vania",
                          "createdDate": "2021-11-01T00:46:39.000Z",
                          "farm": {
                            "farmCode": "IIS002",
                            "farmName": "Iis 2",
                            "id": "az92XvYXq4kkzBxka6VkrAZKCtYJKfAS",
                            "owner": {
                              "fullName": "Iis",
                              "id": "pgIV3nfVEpMv4fdaS2R07rPWTdIMTCdj",
                              "userCode": "Vania 2"
                            },
                            "userOwnerId": "pgIV3nfVEpMv4fdaS2R07rPWTdIMTCdj"
                          },
                          "farmId": "az92XvYXq4kkzBxka6VkrAZKCtYJKfAS",
                          "height": 0,
                          "id": "4xv5IlEa6UpUUme6OueMbvaMoDZ3hvqt",
                          "leader": {
                            "fullName": "Bagus",
                            "id": "qkN7OvIK0wWYWlNyHiMcBSz3Ua8K4Wxn",
                            "userCode": "Kepala Kandang 2"
                          },
                          "length": 0,
                          "maxCapacity": 0,
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-11-01T00:46:39.000Z",
                          "numFan": 0,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "",
                          "status": true,
                          "width": 0,
                          "workers": [
                            {
                              "fullName": "TEST Rymax",
                              "id": "nPcLduZehafGi2INkQ3YehwGrkPffybg",
                              "userCode": "TEST-RY"
                            }
                          ]
                        },
                        {
                          "capacityFan": 0,
                          "chickType": {
                            "chickTypeCode": "CS-101",
                            "chickTypeName": "Cobb",
                            "id": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7"
                          },
                          "chickTypeId": "EwKCLp656PM8KT26oAfIBPEjM1nxMli7",
                          "coopCode": "COOP_SUC",
                          "coopImages": [],
                          "coopName": "Kandang Sucipto",
                          "coopType": {
                            "coopTypeCode": "S",
                            "coopTypeName": "Semi House",
                            "id": "0E45nD9S3gDl7kkyMOl8edfHXkt6JRSc"
                          },
                          "coopTypeId": "0E45nD9S3gDl7kkyMOl8edfHXkt6JRSc",
                          "createdBy": "Vania",
                          "createdDate": "2021-10-12T08:48:56.000Z",
                          "farm": {
                            "farmCode": "FARM_SUC_01",
                            "farmName": "Sucipto",
                            "id": "sWD3FG87TpUDGefWwyjlk9IocLeb46Ng",
                            "owner": {
                              "fullName": "Sucipto",
                              "id": "GKidkHRslDitj0UyV9IOh6m0lmd3BoiF",
                              "userCode": "developer@eannovate.com"
                            },
                            "userOwnerId": "GKidkHRslDitj0UyV9IOh6m0lmd3BoiF"
                          },
                          "farmId": "sWD3FG87TpUDGefWwyjlk9IocLeb46Ng",
                          "height": 0,
                          "id": "GxnIzbwTp0LpkQ4ScxTQYGIacKQz9LmL",
                          "leader": {
                            "fullName": "Budi",
                            "id": "DJw8HGHlAQMQj6rxEe230h9XQOkxgQqF",
                            "userCode": "KK_SUC_01"
                          },
                          "length": 0,
                          "maxCapacity": 0,
                          "modifiedBy": "Vania",
                          "modifiedDate": "2021-10-12T08:48:56.000Z",
                          "numFan": 0,
                          "otherControllerType": "",
                          "otherHeaterType": "",
                          "otherInletType": "",
                          "remarks": "",
                          "status": true,
                          "width": 0,
                          "workers": [
                            {
                              "fullName": "Dodo",
                              "id": "uM9ZNI1VKiMf2NmJdsNU73IqVq9NDZfm",
                              "userCode": "AK_SUC_001"
                            }
                          ]
                        },
                        {
                          "capacityFan": 0,
                          "chickType": {
                            "chickTypeCode": "CS-101",
[...]
